{% for table in tables %}
CREATE TABLE {{ table.name }} (
    {% for column in table.columns %}
    {{ column.name }} {{ column.type }}
    {%- if column.auto_increment %} GENERATED ALWAYS AS IDENTITY{% endif %}
    {%- if column.primary_key %} PRIMARY KEY{% endif %}
    {%- if column.not_null %} NOT NULL{% endif %}
    {%- if column.foreign_key %}, FOREIGN KEY ({{ column.name }}) REFERENCES {{ column.foreign_key.references }}({{ column.foreign_key.column }}){% endif %}
    {%- if not loop.last %},{% endif %}
    {% endfor %}
);
{% endfor %}
